<html>

  <div class="row about">
    <div class="span9">

      <hr />
      <nav class="nav">
	<h4 class="v-section-tit">一些朋友</h4>
	<ul>
	  <li><a href="http://www.wutianqi.com/" target="_blank" rel="nofollow">Tanky Woo</a></li>
	  <li><a href="http://beiyuu.com/"  target="_blank" rel="nofollow">Beiyuu</a></li>
	  <li><a href="http://wangcong.org/blog/" target="_blank" rel="nofollow">王聪</a></li>
	  <li><a href="http://helloworld.tk/" target="_blank" rel="nofollow">邓甜</a></li>
	  <li><a href="http://www.cguage.com/" target="_blank" rel="nofollow">C瓜</a></li>
	  <li><a href="http://www.crazyshell.org/blog/" target="_blank" rel="nofollow">狂Shell</a></li>
	</ul>
      </nav>

      <hr />
      <nav class="nav">
        <h4 class="v-section-tit">值得一看</h4>
        <ul>
          <li><a href="http://www.geeksforgeeks.org/" target="_blank" rel="nofollow">GeekForGeeks</a>
	    一些算法和数据结构方面的文章，还有很多面试分享。 </li>

          <li><a href="http://www.leetcode.com/" target="_blank" rel="nofollow">LeetCode</a>
	    面试题OJ，对找工作很有用吧。
	  </li>

          <li><a href="http://www.coolshell.cn/" target="_blank" rel="nofollow">CoolShell</a>
	    很好的技术博客。
	  </li>
        </ul>
      </nav>

    </div>
  </div>

</html>
