<html>

  <div class="row about">
    <div class="span9">

      <hr />
      <nav class="nav">
	<h4 class="v-section-tit">朋友</h4>

	<ul>
		<li><a href="http://www.linux178.com/" target="_blank" rel="nofollow">老雷的博客</a></li>
  </ul>
      </nav>
      <hr />
      <nav class="nav">
        <h4 class="v-section-tit">值得一看</h4>
	<ul>
		<li><a href="http://www.magedu.com/" target="_blank" rel="nofollow">马哥教育官网</a></li>
		<li><a href="http://mageedu.blog.51cto.com/" target="_blank" rel="nofollow">马哥教育官方博客</a></li>
  </ul>


      </nav>

    </div>
  </div>

</html>
